*.o
*.obj
*.so
*.dll
*.exe
*.app
*.user
*.pro.user
*.pro.user.*
*.qmake.stash
Makefile
*.a
*.db
*.sqlite
moc_*.cpp
ui_*.h
qrc_*.cpp
*.qrc
*.qmlc
*.qmltypes
*.qtc
*.vscode
build*/
debug/
release/
*.log
*.tmp